* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rabbid Highway";
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Rabbid Highway";
  src: url(../fonts/RabbidHighwaySignII.otf);
}
@font-face {
  font-family: "Gatha";
  src: url(../fonts/ZTGatha-SemiBold.otf);
}
@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolvetica\ rg.otf);
}
:root {
  --red: #b72107;
  --red2: #da2b08;
  --black: #272727;
  --white1: #f4f4f4;
  --white2: #dadada;
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: var(--white2); /* Color de fondo de la pista de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: var(--red); /* Color del pulgar de desplazamiento */
  border-radius: 5px; /* Bordes redondeados del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red2); /* Color del pulgar al pasar el ratón por encima */
}
.navbar {
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  position: fixed;
  display: flex;
  /* background: var(--red); */
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: 0.5s;
  z-index: 1000;
}
.navbar.sticky {
  background: var(--white1);
  padding: 0.5rem 6rem;
  box-shadow: 0px 1px 20px 0px #0000002b;
}

.navbar.sticky img {
  filter: none;
  width: 5rem;
}
.navbar a {
  z-index: 1000;
  position: relative;
}
.navbar img {
  position: relative;
  filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(143deg)
    brightness(105%) contrast(108%);
  width: 7rem;
  transition: 0.5s;
}
.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  position: relative;
  list-style: none;
}
.navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--black);
  transition: 0.5s;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
.navbar ul li a:hover {
  color: #000;
}
.navbar .toggle {
  display: none;
}

header {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
header .ingresantes img {
  max-height: 100vh;
}
.ingresantes {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.box-header {
  width: 50vw;
  height: 100vh;
  background-image: url(../img/wave.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-header img {
  width: 14rem;
  margin: 1rem;
}
.box-header .text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.box-header .text-header h1 {
  font-size: 3rem;
  color: var(--black);
  margin: 1rem 0 0;
}
.box-header .text-header a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.5s;
  padding: 0.8rem 1rem 0.5rem;
  background: var(--red);
  border-radius: 5px;
}
.box-header .text-header a:hover {
  letter-spacing: 1px;
  background: var(--red2);
}

/* SPAM */
#spam {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: inset 0 0 0 1px var(--black); */
}
#spam .estudiantes img {
  height: 10rem;
  margin: auto;
}

#spam .estudiantes {
  display: flex;
  justify-content: center;
  background-image: url(../img/fondo\ 2.png);
  background-position: center;
  background-size: cover;
  width: 25rem;
}
#spam .text h3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: "Coolvetica", sans-serif;
}
#spam .text span {
  font-size: 1rem;
  font-family: "Gatha";
}
#spam .btn {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Coolvetica", sans-serif;
}

/* SOBRE NOSOTROS */
#sobre-nosotros {
  background-color: var(--white1);
  max-width: 100vw;
  min-height: 100vh;
  padding: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#sobre-nosotros .container {
  max-width: 40vw;
}

#sobre-nosotros .container h2 {
  font-size: 2.5rem;
  color: var(--black);
  text-align: center;
  margin: 1rem;
}
#sobre-nosotros .container p {
  text-align: justify;
  font-family: "Gatha";
  font-size: 1rem;
}
#sobre-nosotros .container ul {
  list-style-type: none;
  padding: 1rem;
}
#sobre-nosotros .container ul li {
  font-family: "Gatha";
}
#sobre-nosotros .container .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#sobre-nosotros .container .redes a,
#spam .btn {
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.5s;
}

#sobre-nosotros .container .redes a:hover,
#spam .btn:hover {
  letter-spacing: 1px;
}

#sobre-nosotros .container .redes a:nth-child(1),
#spam .btn {
  background: #25d366;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white1);
  margin: 0 1rem;
}

#sobre-nosotros .container .redes a:nth-child(2) {
  background: #0000ff;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white1);
  margin: 0 1rem;
}

#sobre-nosotros .container .redes a:nth-child(3) {
  background: #fe2858;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white1);
  margin: 0 1rem;
}
