* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rabbid Highway";
}
@font-face {
  font-family: "Rabbid Highway";
  src: url(../fonts/RabbidHighwaySignII.otf);
}
@font-face {
  font-family: "Gatha";
  src: url(../fonts/ZTGatha-SemiBold.otf);
}
:root {
  --red: #b72107;
  --red2: #da2b08;
  --black: #272727;
  --white: #f4f4f4;
}
.navbar {
  width: 100%;
  padding: 1rem 5rem;
  position: fixed;
  display: inline-flex;
  /* background: #f4f4f4; */
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar img {
  filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(143deg)
    brightness(105%) contrast(108%);
  width: 7rem;
  transition: 0.3s;
}
.navbar ul {
  display: grid;
  align-items: center;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--black);
  transition: 0.5s;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
.navbar ul li a:hover {
  color: #000;
}
header {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
header .ingresantes img {
  max-height: 100vh;
}
.ingresantes {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.box-header {
  width: 50vw;
  height: 100vh;
  background-image: url(../img/wave.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-header img {
  width: 14rem;
  margin: 1rem;
}
.box-header .text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.box-header .text-header h1 {
  font-size: 3rem;
  color: var(--black);
  margin: 1rem 0 0;
}
.box-header .text-header a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.5s;
  padding: 0.8rem 1rem 0.5rem;
  background: var(--red);
  border-radius: 5px;
}
.box-header .text-header a:hover {
  letter-spacing: 1px;
  background: var(--red2);
}
#sobre-nosotros {
  background-color: var(--white);
  max-width: 100vw;
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#sobre-nosotros .container {
  max-width: 40vw;
}

#sobre-nosotros .container h2 {
  font-size: 2.5rem;
  color: var(--black);
  text-align: center;
  margin: 1rem;
}
#sobre-nosotros .container p {
  font-family: "Gatha";
  font-size: 1rem;
}
#sobre-nosotros .container ul {
  list-style-type: none;
  padding: 1rem;
}
#sobre-nosotros .container ul li {
  font-family: "Gatha";
}
#sobre-nosotros .container .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#sobre-nosotros .container .redes a {
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.5s;
}

#sobre-nosotros .container .redes a:hover {
  letter-spacing: 1px;
}

#sobre-nosotros .container .redes a:nth-child(1) {
  background: #25d366;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white);
  margin: 0 1rem;
}

#sobre-nosotros .container .redes a:nth-child(2) {
  background: #0000ff;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white);
  margin: 0 1rem;
}

#sobre-nosotros .container .redes a:nth-child(3) {
  background: #fe2858;
  text-decoration: none;
  padding: 0.8rem 1rem 0.5rem;
  border-radius: 5px;
  color: var(--white);
  margin: 0 1rem;
}
