* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rabbid Highway";
}
@font-face {
  font-family: "Rabbid Highway";
  src: url(../fonts/RabbidHighwaySignII.otf);
}
.navbar {
  width: 100%;
  padding: 1rem 5rem;
  position: fixed;
  display: inline-flex;
  /* background: #f4f4f4; */
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar img {
  filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(143deg)
    brightness(105%) contrast(108%);
  width: 7rem;
  transition: 0.3s;
}
.navbar ul {
  display: grid;
  align-items: center;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #272727;
  transition: 0.5s;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
.navbar ul li a:hover {
  color: #000;
}
header {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
header .ingresantes img {
  max-height: 100vh;
}
.ingresantes {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.box-header {
  width: 50vw;
  height: 100vh;
  background-image: url(../img/wave.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-header img {
  width: 14rem;
  margin: 1rem;
}
.box-header .text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.box-header .text-header h1 {
  font-size: 3rem;
  color: #272727;
  margin: 1rem 0 0;
}
.box-header .text-header a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.5s;
  padding: 0.8rem 1rem 0.5rem;
  background: #b72107;
  border-radius: 5px;
}
.box-header .text-header a:hover {
  letter-spacing: 1px;
}
